<form [formGroup]="encaissementForm" class="form-container" (ngSubmit)="submit()">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Catégorie</mat-label>
    <mat-select formControlName="category">
      <mat-option *ngFor="let category of categoryList" [value]="category">{{ category }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Description</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div fxFlex="50" class="pr-16">
    <mat-form-field class="full-width" appearance="fill" >
      <mat-label>Numéro de facture</mat-label>
      <mat-select [formControlName]="'billClientId'">
        <ng-container *ngFor="let invoiceClient of listInvoiceClient"  >
          <mat-option [value]="invoiceClient.id" *ngIf="invoiceClient.invoiceEtat === 'EN_ATTENTE'">
            {{ invoiceClient.invoiceNumber }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>

  <div formGroupName="bankReconciliation" fxFlex="50" class="pr-16">
    <mat-form-field  class="full-width" appearance="fill" >
      <mat-label>Nom de société</mat-label>
      <input matInput formControlName="company" placeholder="Company" required>
    </mat-form-field>
    
  
  </div>

  <div class="button-group">
    <div fxFlex="100" class="mt-16">

      <button mat-raised-button color="primary">{{ "Enregistrer" | translate }}</button>
      <span fxFlex></span>
      <button mat-button color="black" type="button" (click)="dialogRef.close(false)">Annuler</button>
    </div>
  </div>
</form>
