<mat-card class="p-0">
  <mat-card-title class="card-title-container">
    <div class="card-title-text">
      <mat-icon >info_outline</mat-icon>
      Fiche partenaire <small> {{ partner.ref }} </small> : <strong>{{ partner.name }}</strong>
    </div>
    <div class="card-title-text second-div" style="color:red" *ngIf="partner.blocked">
      <mat-icon class="mr-16">highlight_off</mat-icon>
      <strong >{{ mapBlockedStatus(partner.blocked) }}</strong>
    </div>
    <div class="card-title-text second-div" style="color: #35e578;" *ngIf="!partner.blocked">
      <mat-icon >check_circle</mat-icon>
      <strong >{{ mapBlockedStatus(partner.blocked) }}</strong>
    </div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>

    <mat-card class="partner-card">
      <mat-card-content>
        <div fxLayout="row" class="partner-info">

            <div fxFlex="30%" class="partner-logo">
              <img [src]="partner.logo" alt="Partner Logo">
            </div>
          
            <div fxFlex="50%" class="partner-details">
              <div class="main-title">Type partenariat: {{ companyStatusMap[partner.companyStatus] }}</div>
              <div class="subtitle">Qualité : <strong>{{ partner.legalStatus }}</strong></div>
              <div class="subtitle">Identifiant juridique entreprise : <strong>{{ partner.legalIdentifier }}</strong></div>
              <div class="subtitle">Identifiant TVA : <strong>{{ partner.tvaIdentifier }}</strong></div>
              <div class="subtitle">Code Naf: <strong>{{ partner.nafCode }}</strong></div>
          </div>
          
         <!-- <div fxFlex="35%" class="partner-details">
            <div class="main-title">Infos complémentaires</div>
            <div class="subtitle"><strong>Police d'assurance :</strong> {{ partner.insurancePolicy }}</div>
            <div class="subtitle"><strong>Compagnie d'assurance :</strong> {{ partner.insuranceCompany }}</div>
            <div class="subtitle"><button mat-button (click)="openComment()"> <strong>Commentaire</strong></button></div>
            <div class="subtitle"><strong>Code Naf:</strong> {{ partner.nafCode }}</div>
        </div>-->
        </div>
      </mat-card-content>
    </mat-card>


    


  
    <mat-card style="margin-top: 20px;margin-bottom: 20px;">
      <mat-card-title class="">
        <div class="card-title-text">Coordonnées partenaire</div>
      </mat-card-title>
      <mat-card-content >
        <div class="coord-card1" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center">
          <mat-list fxFlex="30%" fxFlex.xs="100%">
            <mat-list-item class="cc1-title">
              <mat-icon color="primary" class="mr-16">phone</mat-icon>
              <span style="font-weight: bold;color: rgb(134, 134, 139);">Fixe</span>
            </mat-list-item>
            <mat-list-item>{{ partner.phoneNumber }}</mat-list-item>
          </mat-list>
        
          <mat-list fxFlex="30%" fxFlex.xs="100%">
            <mat-list-item class="cc1-title">
              <mat-icon color="primary" class="mr-16">smartphone</mat-icon>
              <span  style="font-weight: bold;color: rgb(134, 134, 139);">Mobile</span>
            </mat-list-item>
            <mat-list-item>{{ partner.mobilePhoneNumber }}</mat-list-item>
          </mat-list>
        
          <mat-list fxFlex="40%" fxFlex.xs="100%">
            <mat-list-item class="cc1-title">
              <mat-icon color="primary" class="mr-16">add_location</mat-icon>
              <span  style="font-weight: bold;color: rgb(134, 134, 139);">Adresse</span>
            </mat-list-item>
            <mat-list-item>{{ partner.addresses[0].country }}, {{ partner.addresses[0].city }}</mat-list-item>
          </mat-list>
        
          <mat-list fxFlex="70%" fxFlex.xs="100%">
            <mat-list-item class="cc1-title">
              <mat-icon color="primary" class="mr-16">email</mat-icon>
              <span  style="font-weight: bold;color: rgb(134, 134, 139);">Email</span>
            </mat-list-item>
            <mat-list-item>{{ partner.email }}</mat-list-item>
          </mat-list>
        
          <mat-list fxFlex="70%" fxFlex.xs="100%">
            <mat-list-item class="cc1-title">
              <mat-icon color="primary" class="mr-16">public</mat-icon>
              <span  style="font-weight: bold;color: rgb(134, 134, 139);">Site Web</span>
            </mat-list-item>
            <mat-list-item>
              {{ partner.webSite }}
              <button *ngIf="partner.webSite" style="margin-left:5px ;" mat-icon-button mat-sm-button color="primary" (click)="redirectToLink(partner.webSite)">
              <mat-icon class="mr-16">link</mat-icon>
              </button>
            </mat-list-item>
            
          </mat-list>
        </div>
        
      </mat-card-content>

      <mat-card-title class="">
        <div class="card-title-text">Infos complémentaires</div>
      </mat-card-title>
      <mat-card-content >
        <div class="coord-card1" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center">
         
            <mat-list fxFlex="50%" fxFlex.xs="100%">
              <mat-list-item class="cc1-title">
                <!--mat-icon color="primary" class="mr-16">assignment</mat-icon-->
                <span  style="font-weight: bold;color: rgb(134, 134, 139);">Police d'assurance : </span>
              </mat-list-item>
              <mat-list-item>{{ partner.insurancePolicy }}</mat-list-item>
            </mat-list>

            <mat-list fxFlex="50%" fxFlex.xs="100%">
              <mat-list-item class="cc1-title">
                <!--mat-icon color="primary" class="mr-16">business</mat-icon-->
                <span  style="font-weight: bold;color: rgb(134, 134, 139);">Compagnie d'assurance :</span>
              </mat-list-item>
              <mat-list-item>{{ partner.insuranceCompany }}</mat-list-item>
            </mat-list>

            <mat-list fxFlex="50%" fxFlex.xs="100%">
              <button mat-button (click)="openComment()"> 
              <mat-list-item class="cc1-title">
                <mat-icon color="primary" class="mr-16">comment</mat-icon>
                <span  style="font-weight: bold;color: rgb(134, 134, 139);">Commentaire</span>
              </mat-list-item>
              </button>
            </mat-list>

            <mat-list fxFlex="50%" fxFlex.xs="100%">
              <button mat-button (click)="openDates()">
                <mat-list-item class="cc1-title" >
                  <mat-icon color="primary" class="mr-16">date_range</mat-icon>
                  <span style="font-weight: bold; color: rgb(134, 134, 139);">Dates</span>
                </mat-list-item>
              </button>
              
            </mat-list>
        </div>
        
      </mat-card-content>
    </mat-card>

    <mat-card style="margin-top: 20px;margin-bottom: 20px;" class="p-0">
      <mat-card-title class="">
        <div class="card-title-text">Infos financières</div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content >
        <div class="financial-nfo" >
          <div fxFlex="30"> 
            <mat-list>
              <mat-list-item>
                <!--mat-icon color="primary" style="padding-right:10px;">attach_money</mat-icon-->
                Devise : <strong style="padding-right: 13px;">{{ currencyMap[partner.currency] }}</strong> 
              </mat-list-item>
              <mat-list-item>
                <!--mat-icon color="primary"  style="padding-right:10px;">compare_arrows</mat-icon-->
                Mode de paiement : <strong style="padding-right: 13px;">{{paymentModeMap[partner.paymentMode]}}</strong> 
              </mat-list-item>
            </mat-list>
          </div>
          
        <div fxFlex="37">
            <mat-list>
              <mat-list-item>
                <!--mat-icon color="primary" style="padding-right:10px;">payment</mat-icon-->
                Condition de paiement : <strong style="padding-right: 10px;">{{paymentConditionMap[partner.paymentCondition]}}</strong> 
              </mat-list-item>
              <mat-list-item>
                <!--mat-icon color="primary" style="padding-right:10px;">check_circle</mat-icon-->
                En cours autorisé : <strong style="padding-right: 10px;">{{partner.inProgressAuthorized}} {{partner.currency}}</strong> 
              </mat-list-item>
            </mat-list>
        </div>
        <div fxFlex="33">
          <mat-list>
            <mat-list-item>
              <!--mat-icon color="primary" style="padding-right:10px;">settings</mat-icon-->
              Type de contrôle : <strong style="padding-right: 13px;">{{controlTypeMap[partner.controlType]}}</strong>
            </mat-list-item>
            <mat-list-item>
              <!--mat-icon color="primary" style="padding-right:10px;">attach_money</mat-icon-->
              Capital : <strong style="padding-right: 13px;">{{partner.capital}} {{partner.currency}}</strong>
            </mat-list-item>
          </mat-list>
          </div>
        </div>
      </mat-card-content>
    </mat-card> 

          <mat-accordion multi="false">
              <mat-expansion-panel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon color="primary">location_on </mat-icon>
                    <h6 class="text-18 mb-4"> Adresses </h6>
                    
                    
                  </mat-panel-title>
                 
                </mat-expansion-panel-header>
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="border-bottom pb-16 mb-16">
                  <span fxFlex></span>
                  <button mat-icon-button color="primary" type="button" (click)="openPopUp({},true)">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                
                <div *ngFor="let address of addresses" class="border-bottom pb-16 mb-16">
                    <div fxLyout="row wrap" class="text-blue font-weight-bold">
                       <span>{{address.type}}</span>
                        <span fxFlex></span>
                        <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp(address)">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button mat-sm-button color="warn" (click)="deleteAddress(address.id)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                      <div fxLyout="row wrap" class="text-muted">
                        <small>
                          {{address.num}} 
                          {{address.street}}, 
                          {{address.city}} 
                          {{address.postalCode}},
                          {{address.region}}, 
                          {{address.country}}
                        </small>
                        
                        
                      </div>
                </div>
                
              </mat-expansion-panel>
               <!--bank accounts here-->
               <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon Orders
                    color="primary">account_balance </mat-icon>
                    <h6 class="text-18 mb-4"> Comptes bancaires </h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="border-bottom pb-16 mb-16">
                  <span fxFlex></span>
                  <button mat-icon-button color="primary" type="button" (click)="openPopUp6({},true)">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                
                <div *ngFor="let account of accounts" class="border-bottom pb-16 mb-16">
                    <div fxLyout="row wrap" >
                    
                        <span class="text-blue font-weight-bold">{{account.bankName}}</span>
                        <span fxFlex></span>

                        <button mat-icon-button mat-sm-button class="mr-16" color="basic" (click)="openAccountDetails(account)">
                          <mat-icon>visibility</mat-icon>
                        </button>
                        
                        <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp6(account)">
                          <mat-icon>edit</mat-icon>
                        </button>
  
                        <button mat-icon-button mat-sm-button color="warn" (click)="deleteAccount(account.id)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                      <div fxLyout="row wrap" class="text-muted">
                        <small>{{account.rib}}</small>
                      </div>
                </div>
               
               
              </mat-expansion-panel>
              <!--offered services here-->
              <!--mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon Orders
                    color="primary">room_service </mat-icon>
                    <h6 class="text-18 mb-4"> Services offerts <strong>{{partner.name}}</strong></h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-icon-button color="primary" type="button" (click)="openPopUp5({},true)">
                  <mat-icon>add</mat-icon>
                </button>
                <div *ngFor="let service of offered" class="border-bottom pb-16 mb-16">
                    <div fxLyout="row wrap" class="text-blue font-weight-bold">
                    
                        <span>{{service.serviceType}}</span>
                        <span fxFlex></span>
                        
                        <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp5(service)">
                          <mat-icon>edit</mat-icon>
                        </button>
  
                        <button mat-icon-button mat-sm-button color="warn" (click)="deleteOffered(service.id)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                      <div fxLyout="row wrap" class="text-muted">
                        <small>{{service.title}}</small>
                      </div>
                </div>
               
               
              </mat-expansion-panel-->
              <!--social media here-->
              <!--mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon Orders
                    color="primary">  phonelink_ring </mat-icon>
                    <h6 class="text-18 mb-4"> Social Medias <strong>{{partner.name}}</strong></h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-icon-button color="primary" type="button" (click)="openPopUp4({},true)">
                  <mat-icon>add</mat-icon>
                </button>
                <div *ngFor="let socialMedia of socialMedias" class="border-bottom pb-16 mb-16">
                    <div fxLyout="row wrap" class="text-blue font-weight-bold">
                    
                        <span>{{socialMedia.name}}</span>
                        <span fxFlex></span>
                        
                        <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp4(socialMedia)">
                          <mat-icon>edit</mat-icon>
                        </button>
  
                        <button mat-icon-button mat-sm-button color="warn" (click)="deleteSocialMedia(socialMedia.id)">
                          <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button mat-sm-button color="primary" (click)="redirectToLink(socialMedia.link)">
                          <mat-icon class="mr-16">link</mat-icon>
                        </button>
                      </div>
                      <div fxLyout="row wrap" class="text-muted">
                        <small>{{socialMedia.link}}</small>
                      </div>
                </div>
               
               
              </mat-expansion-panel-->
              
              <!--contacts here-->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon Orders
                    color="primary">contact_phone </mat-icon>
                    <h6 class="text-18 mb-4"> Contacts </h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="border-bottom pb-16 mb-16">
                  <span fxFlex></span>
                  <button mat-icon-button color="primary" type="button" (click)="openPopUp2({},true)">
                  <mat-icon>add</mat-icon>
                  </button>
                </div>
                
                <mat-table [dataSource]="dataSource" matSort >
  
  
  
  
                  <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="firstName"> {{row.firstName}} </mat-cell>
                  </ng-container>
              
              
              
                  <ng-container matColumnDef="lastName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="lastName"> {{row.lastName}} </mat-cell>
                  </ng-container>
              
                    
                  <ng-container matColumnDef="function">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Fonction </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="function"> {{row.function}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let row">

                      <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp2(row)">
                        <mat-icon>edit</mat-icon>
                      </button>

                      <button mat-icon-button mat-sm-button color="warn" (click)="deleteContact(row.contactId)">
                        <mat-icon>delete</mat-icon>
                      </button>

                    </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              
              </mat-expansion-panel>
                
              <!--Opportunités here-->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon Orders
                    color="primary">assignment </mat-icon>
                    <h6 class="text-18 mb-4"> Opportunités </h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="border-bottom pb-16 mb-16">
                  <span fxFlex></span>
                  <button mat-icon-button color="primary" type="button" (click)="openPopUp3({},true)">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                
                <mat-table [dataSource]="dataSource2" matSort >
  
  
  
  
                  <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Titre </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="title"> {{row.title}} </mat-cell>
                  </ng-container>
              
                    
          
          
                      <!--ng-container matColumnDef="totalCandidateNumber">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> totalCandidateNumber </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="totalCandidateNumber"> {{row.totalCandidateNumber}} </mat-cell>
                    </ng-container-->
          
                              
                    <ng-container matColumnDef="requirementType">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Type opportunité </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="requirementType"> {{reqTypeMap[row.requirementType]}} </mat-cell>
                    </ng-container>
          
                              
                    <ng-container matColumnDef="requirementStatus">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Etat opportunité </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="requirementStatus"> {{reqStatusMap[row.requirementStatus]}} </mat-cell>
                    </ng-container>
          
                              
                   
          
                    <ng-container matColumnDef="availability">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Démarrage </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="availability"> {{availabilityMap[row.availability]}} </mat-cell>
                    </ng-container>
            
            
                  
            
                  
              
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let row">

                      <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp3(row)">
                        <mat-icon>edit</mat-icon>
                      </button>
            
                      <button mat-icon-button mat-sm-button color="warn" (click)="deleteBesoin(row.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
            
                    </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
                </mat-table>
              
              </mat-expansion-panel>
              <!--Adresses here-->
              <!--mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon Orders
                    color="primary">location_on</mat-icon>
                    <h6 class="text-18 mb-4">Adresses <strong>{{partner.name}}</strong></h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-icon-button color="primary" type="button" (click)="openPopUp({},true)">
                  <mat-icon>add</mat-icon>
                </button>
                <mat-table [dataSource]="dataSource3" matSort >
  
  
  
  
                  <ng-container matColumnDef="ville">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ville </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="ville"> {{row.addressTitle}} </mat-cell>
                  </ng-container>
              
              
              
                  <ng-container matColumnDef="street">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> street </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="street"> {{row.street}} </mat-cell>
                  </ng-container>
              
                    
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let row">
            
                   
            
                      <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp(row)">
                        <mat-icon>edit</mat-icon>
                      </button>
            
                      <button mat-icon-button mat-sm-button color="warn" (click)="deleteAddress(row.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-cell>
                  </ng-container>
              
                
              
                  <mat-header-row *matHeaderRowDef="displayedColumns3"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns3;"></mat-row>
                </mat-table>
              
              </mat-expansion-panel-->
            </mat-accordion>
  </mat-card-content>
</mat-card>
  <!--mat-card class="p-0">
    <mat-card-title class="">
      <div fxLyout="row wrap" >
        <div class="card-title-text">
          <mat-icon> contact_phone </mat-icon>
        <span>Contacts</span>
      </div>
        <span fxFlex></span>
        <span><mat-icon class="mr-16" title="Add a new Contact">add_circle</mat-icon></span>
        <span><mat-icon class="mr-16" title="See My Calendar">perm_contact_calendar</mat-icon></span>
      </div>
      <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row wrap">
        <div
        fxFlex="100"
        fxFlex.gt-sm="33"
        fxFlex.sm="50">
          <mat-card class="user-card p-0">
            <mat-card-title class="mb-16">
              <div class="card-title-text">

                <a href="" class="toolbar-avatar sm mr-16"><img [src]="user.photo" alt=""></a-->

                <!--span class="text-16">FirstaName LastName</span>
                <span fxFlex></span>
                <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
                    <mat-icon class="text-muted text-18">more_vert</mat-icon>
                </button>
                <mat-menu #userMenu="matMenu">
                    <button mat-menu-item>Edit</button>
                    <button mat-menu-item>Appointment</button>
                    <button mat-menu-item>Notes</button>
                    <button mat-menu-item>Delete</button>
                </mat-menu>
              </div>
              <mat-divider></mat-divider>
            </mat-card-title>
            <mat-card-content-->

              <!-- user detail lines-->

              <!--mat-list>
                <mat-list-item><mat-icon class="mr-16">card_membership</mat-icon> Funstion Here</mat-list-item>
                <mat-list-item><mat-icon class="mr-16">date_range</mat-icon> Email Here</mat-list-item>
                <mat-list-item><mat-icon class="mr-16">phone</mat-icon> Phone Number Here</mat-list-item>
                <mat-list-item><mat-icon class="mr-16">do_not_disturb_on</mat-icon> Privilege Here</mat-list-item>
                <mat-list-item><mat-icon class="mr-16">insert_comment</mat-icon> Comment Here</mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card-->