<div class="m-4"  [@animate]="{value:'*',params:{y:'50px',delay:'200ms'}}">

       
  <mat-form-field style="padding-left: 19px;">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput (keyup)="applyFilter($event)" placeholder="Rechercher">
  </mat-form-field>
    
    <button mat-raised-button class="mb-2" style="float: right ;"  color="primary" (click)="openPopUp({}, true )">Nouvelle
     Récupération</button>
       
     <div style="clear: both;"></div>
    
    <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
      <mat-card-content class="p-0">
        <mat-table [dataSource]="dataSource" matSort>
         
     
        

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <div style="display: flex; flex-direction: column; margin-top: 12px;" >
                      <span>Récupération</span>
                      <mat-form-field style="width:3cm; text-align: center;" >
                        <input matInput (input)="applyFilterr($event, 'name')" placeholder="Filtrer">
                      </mat-form-field>
                    </div>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="name">{{row.name}}</mat-cell>
              </ng-container>
     

          <ng-container matColumnDef="recoveryType">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <div style="display: flex; flex-direction: column; margin-top: 12px;" >
                  <span>forme récupérer </span>
                  <mat-form-field style="width:3cm; text-align: center;" >
                    <input matInput (input)="applyFilterr($event, 'recoveryType')" placeholder="Filtrer">
                  </mat-form-field>
                </div>
          
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{ getRecoveryType(row.recoveryType).displayText }}       
            </mat-cell>
          </ng-container>

         

          <ng-container matColumnDef="recoveryDay">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <div style="display: flex; flex-direction: column; margin-top: 12px;" >
                  <span >Récupéré</span>
                <mat-form-field style="width:3cm; text-align: center;" >
                    <input matInput (input)="applyFilterr($event, 'recoveryDay')" placeholder="Filtrer">
                  </mat-form-field>
                </div>
              
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{ getRecoveryDay(row.recoveryDay).displayText }}       
            </mat-cell>
          </ng-container>
 
         <ng-container matColumnDef="inputDate">
           <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div style="display: flex; flex-direction: column; margin-top: 12px;" >
                 <span >Date Saisie </span>
                 <mat-form-field style="width:3cm; text-align: center;" >
                   <input matInput (input)="applyFilterr($event, 'inputDate')" placeholder="Filtrer">
                 </mat-form-field>
               </div>
           </mat-header-cell>
           <mat-cell *matCellDef="let row" data-label="inputDate">{{row.inputDate | date:'dd-MM-yyyy'}}</mat-cell>
         </ng-container>
 
         <ng-container matColumnDef="requestStatus">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 
            <div style="display: flex; flex-direction: column; margin-top: 12px;" >
              <span>Statut</span>
              <mat-form-field style="width:3cm; text-align: center;" >
                <input matInput (input)="applyFilterr($event, 'requestStatus')" placeholder="Filtrer">
             </mat-form-field>
             </div>  </mat-header-cell>
          <mat-cell *matCellDef="let row" >
            <mat-chip mat-sm-chip
             [color]="getStatusColor(row.requestStatus).color">
              {{ getStatusColor(row.requestStatus).displayText }}
            </mat-chip>
          </mat-cell>
        </ng-container>
         

     
    
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button matTooltip="Modifier la demande" mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button matTooltip="Voir les détails de la demande" mat-icon-button mat-sm-button  class="mr-16" (click)=" openPopUpView(row)">
                <mat-icon>remove_red_eye </mat-icon>
              </button>
              
              <button matTooltip="Supprimer la demande" mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
    
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    
      </mat-card-content>
    </mat-card>
 
   </div>