<div class="m-12" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">


  <button mat-raised-button class="mb-2" style="float: right ; margin-right: 17px;margin-top: 12px;"  color="primary" (click)="goToForm()"> Ajouter un référentiel </button>

  <mat-form-field style="padding-left: 19px;">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput (keyup)="applyFilter($event)" placeholder="Rechercher">
  </mat-form-field>
  

<mat-card  style="border: 60 px; "  [@animate]="{value:'*',params:{y:'10px',delay:'500ms'}}">
  <mat-card-content class="p-0">
    <mat-table [dataSource]="dataSource" matSort  >
      <ng-container matColumnDef="questionTypeName">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 3;"> 
          <div style="display: flex; flex-direction: column; margin-top: 12px;" >
            <span>Catégorie</span>
            <mat-form-field style="width:3cm; text-align: center;" >
              <input matInput (input)="applyFilterr($event, 'questionTypeName')" placeholder="Filtrer">
           </mat-form-field>
           </div>
         </mat-header-cell> 
        <mat-cell *matCellDef="let row" data-label="questionTypeName" style="flex: 3;"> {{row.questionTypeName}} </mat-cell>
      </ng-container>




   <ng-container matColumnDef="actions">
     <mat-header-cell *matHeaderCellDef mat-sort-header   style="flex: 1;"> Action </mat-header-cell>
     <mat-cell *matCellDef="let row"  style="flex: 1;">
       <button  matTooltip="Voir la liste des domaines" mat-icon-button mat-sm-button style="color: basic;"  routerLink="/refCategoryAffichage/ref/{{row.id}}" >
         <mat-icon>remove_red_eye </mat-icon>
       </button>
       <button matTooltip="Détails" style="color: #757575;" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      
      <mat-menu #menu="matMenu" style="width: 5cm;">
        <button  mat-menu-item   (click)="deleteItem(row.id)">
         <mat-icon>delete</mat-icon>
         <span>Supprimer la catégorie</span>
       </button> 
       <button mat-menu-item  routerLink="/formReferentiel2/{{row.id}}" routerLinkActive="router-link-active" >
        <mat-icon>mode_edit</mat-icon>
        <span>Créer un référentiel</span>
      </button>
      </mat-menu>
       
     </mat-cell>
   </ng-container>

   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
   <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
 </mat-table>
 <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

</mat-card-content>
</mat-card>
</div>