


          <div class="popup-container">
            <mat-toolbar matDialogTitle class="mat-primary m-0">
              <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title">Ajouter unsupérieur hiérarchique</span>
                <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </mat-toolbar>
          
            <form [formGroup]="itemForm" (ngSubmit)="submit()">
              <div fxLayout="row wrap" fxLayout.lt-sm="column">
          
               
      <div fxFlex="50" class="pr-16">
        <mat-form-field appearance="outline" [style.width.cm]="16">
          <mat-label>Sélectionner un supérieur hiérarchique</mat-label>
          <mat-select formControlName="hierarchicalSuperiorNum" required>
            <mat-option *ngFor="let employee of employees" [value]="employee.id">
              {{ employee.lastName }} {{ employee.firstName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
          
         <div fxFlex="100" class="mt-16">
                  <div style="display: flex; justify-content: space-between;">
                    <button mat-button color="gray" type="button" (click)="dialogRef.close(false)" style="order: 1;">Annuler</button>
                    <button mat-raised-button color="primary" style="order: 2;">{{"Ajouter" | translate }}</button>
                   
                  </div>
                </div>
          
              </div>
            </form>
          </div>
          