<div fxFlex.gt-md="550px">
    
    <mat-card-header>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="header-content">
        <mat-card-title >Détails du rendez-vous</mat-card-title>
        <div fxLayout="row" fxLayoutAlign="end center" >
          <button style="margin-inline-start: 180px;" mat-icon-button class="close-button" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content class="pt-0">
      <mat-list>

          <mat-list-item>
          <h2><strong> {{ rendezVous.contactFullName }}</strong></h2>
        </mat-list-item>
        <mat-list-item>
          <mat-icon color="primary" class="mr-16">phone_iphone </mat-icon>
          <strong>Numérode téléphone  &nbsp;:&nbsp;</strong> {{ rendezVous.contactPhone }} 
        </mat-list-item>
        <mat-list-item>
          <mat-icon color="primary" class="mr-16">email</mat-icon>
          <strong>E-mail  &nbsp;:&nbsp;</strong> {{ rendezVous.contactEmail }} 
        </mat-list-item>
         
        <mat-list-item>
            <mat-icon color="primary" class="mr-16">date_range</mat-icon>
            <strong>Date  &nbsp;:&nbsp;</strong> {{ rendezVous.date }} 
          </mat-list-item>

        <mat-list-item>
          <mat-icon color="primary" class="mr-16">access_time</mat-icon>
          <strong>Heure  &nbsp;:&nbsp;</strong> {{ rendezVous.time }} 
        </mat-list-item>

        <mat-list-item>
          <mat-icon color="primary" class="mr-16">av_timer</mat-icon>
          <strong>Durée &nbsp;:&nbsp;</strong> {{ rendezVous.duration }} Minutes
        </mat-list-item>
        
        <mat-list-item>
          <mat-icon color="primary" class="mr-16">location_on  </mat-icon>
          <strong>Lieu &nbsp;:&nbsp;</strong> {{rendezVous.location}}
        </mat-list-item>

        <mat-list-item>
          <mat-icon color="primary" class="mr-16">speaker_notes </mat-icon>
          <strong>Note Avant &nbsp;:&nbsp;</strong> {{rendezVous.noteBefore}}
        </mat-list-item>

        <mat-list-item>
          <mat-icon color="primary" class="mr-16">speaker_notes </mat-icon>
          <strong>Note Après &nbsp;:&nbsp;</strong> {{rendezVous.noteAfter}}
        </mat-list-item>

        <mat-list-item>
          <mat-icon color="primary" class="mr-16">comment</mat-icon>
          <strong>Commentaire &nbsp;:&nbsp;</strong> {{ rendezVous.subject }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
</div>
