.mr-16{
    color: #757575;
  }

  .example-tooltip {
    font-size: 100px; /* Change this value to adjust the font size */

  }
  .transparent-button {
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.2s;
    size:10px ;
  }
  
  .transparent-button:hover {
    opacity: 1;
  }