<mat-toolbar matDialogTitle class="mat-primary m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{data.title}}</span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <form [formGroup]="itemForm" (ngSubmit)="submit()" >
   
    
   
        
   <div fxLayout="row wrap" fxLayout.lt-sm="column">
  
    <div fxFlex="50" class="pr-16">
        <mat-form-field appearance="outline" [style.width.cm]=10>
          <input matInput 
          name="code" 
          type="text"  
          formControlName="code" 
          placeholder="Code"  />
          <mat-error *ngIf="itemForm.controls['code'].invalid && itemForm.controls['code'].touched">
            Le champ code est requis.
          </mat-error>
        </mat-form-field>
      </div>


      <div fxFlex="50" class="pr-16">
          <mat-form-field appearance="outline" [style.width.cm]=10>
            <input matInput 
            name="title" 
            type="text"  
            formControlName="title" 
            placeholder="Titre"  />
            <mat-error *ngIf="itemForm.controls['title'].invalid && itemForm.controls['title'].touched">
              Le champ titre est requis.
            </mat-error>
          </mat-form-field>
        </div>
  
  
       
        <div class="mini-container" >
            <mat-form-field [style.width.cm]=22 class="example-full-width" appearance="outline">
             <mat-label>Description</mat-label>
             <textarea matInput placeholder="Veuillez saisir une description." 
             [formControl]="itemForm.controls['description']"></textarea>
           </mat-form-field>
         </div>



            <div fxFlex="100" class="mt-16">
              <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Annuler</button>
              <span fxFlex></span>
              <button mat-raised-button color="primary" >Enregistrer</button>
            </div>
        </div>
  
  
  </form>