<mat-card *ngIf="showEditOption">
  <form [formGroup]="rapprochementForm" class="form-container" (ngSubmit)="submit()">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Numéro d'opération</mat-label>
      <input matInput formControlName="bankNumber">
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Nom de la société</mat-label>
      <input matInput formControlName="company">
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Numéro de compte</mat-label>
      <input matInput formControlName="iban">
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Date </mat-label>
      <input matInput [matDatepicker]="picker" formControlName="issueDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

   

    <div class="button-group">
      <div fxFlex="100" class="mt-16">
        <button mat-raised-button color="primary" type="submit">{{ "Enregistrer" | translate }}</button>
        <span fxFlex></span>
        <button mat-button color="black" type="button" (click)="dialogRef.close(false)">Annuler</button>
      </div>
    </div>
  </form>
</mat-card>


