.card-title-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.name-text {
  margin-right: 10px; /* Adjust the margin value as needed */
}

.privilege-text {
  margin-left: 10px; /* Adjust the margin value as needed */
}
