
<mat-card class="p-0" [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }">
  <mat-card-title class="cardColor">
    <div class="card-title-text">
      <div class="name-text">{{ CivilityMap[contact.civility] }} {{ contact.lastName.toUpperCase()}} {{ contact.firstName}}</div>
      <div class="privilege-text">{{PrivilegeMap[contact.privilege]}}</div>
    </div>
  </mat-card-title>
  
      

      <mat-card-content fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center">
        <!-- First Section -->
        <div fxFlex="25%" fxFlex.xs="100%">
           <mat-icon color="primary" class="mr-16">business</mat-icon>
            <strong style="padding-right: 10px;">Prospect/partenaire : </strong>{{ partner.name }}
        </div>
      
        <!-- Second Section -->
        <div fxFlex="25%" fxFlex.xs="100%">
        <mat-icon color="primary" class="mr-16">business</mat-icon>
            <strong style="padding-right: 10px;">Société/Groupe : </strong>{{ contact.societe }}
			</div>
      
        <!-- Third Section -->
        <div fxFlex="25%" fxFlex.xs="100%">
          <mat-icon color="primary" class="mr-16">work</mat-icon>
            <strong style="padding-right: 10px;">Fonction : </strong>{{ contact.function }}
        </div>
      
        <!-- Fourth Section -->
        <div fxFlex="25%" fxFlex.xs="100%">
  <mat-icon color="primary" class="mr-16">work</mat-icon>
            <strong style="padding-right: 10px;">Service: </strong>{{ contact.service }}
        </div>
      </mat-card-content>
      
      <mat-card-content fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center">
        <!-- First Section -->
        <div fxFlex="33%" fxFlex.xs="100%">
            <mat-icon color="primary" class="mr-16">location_on</mat-icon>
            <strong style="padding-right: 10px;">Localisation : </strong>{{ contact.localisation }}
        </div>
      
        <!-- Second Section -->
        <div fxFlex="33%" fxFlex.xs="100%">
          <mat-icon color="primary" class="mr-16">work</mat-icon>
            <strong style="padding-right: 10px;"> Contact privilégié : </strong>{{ contact.privilegedContact ? 'Oui' : 'Non'}}
        </div>
      
        <!-- Third Section -->
        <div fxFlex="33%" fxFlex.xs="100%">
        <mat-icon color="primary" class="mr-16">perm_contact_calendar</mat-icon>
            <strong style="padding-right: 10px;">Prise de rendez-vous : </strong>{{ contact.appointmentMaking  ? 'Oui' : 'Non'}}
        </div>
      </mat-card-content>
      
      <mat-card-content fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center">
        <!-- First Section -->
        <div fxFlex="33%" fxFlex.xs="100%">
          <mat-icon color="primary" class="mr-16">smartphone</mat-icon>
            <strong style="padding-right: 10px;">Mobile : </strong>{{ contact.mobilePhoneNumber }}
        </div>
      
        <!-- Second Section -->
        <div fxFlex="33%" fxFlex.xs="100%">
        <mat-icon color="primary" class="mr-16">phone</mat-icon>
            <strong style="padding-right: 10px;">Fixe: </strong>{{ contact.phoneNumber }}
        </div>
      
        <!-- Third Section -->
        <div fxFlex="33%" fxFlex.xs="100%">
           <mat-icon color="primary" class="mr-16">mail</mat-icon>
            <strong style="padding-right: 10px;">Mail : </strong>{{ contact.email }}
        </div>
      </mat-card-content>
      


      <mat-card-content fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center">
        <!-- First Section -->
        <div fxFlex="33%" fxFlex.xs="100%">
            <mat-icon color="primary" class="mr-16">comment</mat-icon>
            <strong style="padding-right: 10px;">Commentaire : </strong>{{ contact.comment }}
        </div>
      </mat-card-content>


      </mat-card>
      <!--------------------------------------------------------------------------------------------->
            <mat-accordion multi="false">
              <!--rendez-vous here-->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon Orders
                    color="primary">event</mat-icon>
                    <h6 class="text-18 mb-4">Rendez-vous </h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="border-bottom pb-16 mb-16">
                  <span fxFlex></span>
                <button mat-icon-button color="primary" type="button" (click)="openPopUp({},true)">
                  <mat-icon>add</mat-icon>
                </button>
                </div>
                <mat-table [dataSource]="dataSource" matSort >
                <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="time"> {{row.date}} </mat-cell>
                </ng-container>
  
  
                  <ng-container matColumnDef="time">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Heure </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="time"> {{row.time}} </mat-cell>
                  </ng-container>
              
        
                  <ng-container matColumnDef="location">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Lieu </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="location"> {{row.location}} </mat-cell>
                  </ng-container>
              
                    
                  <ng-container matColumnDef="duration">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Durée </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="duration"> {{row.duration}} heures </mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="subject">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Sujet </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="subject"> {{row.subject}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let row">
  
                      <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp(row)">
                        <mat-icon>edit</mat-icon>
                      </button>
  
                      <button mat-icon-button mat-sm-button color="warn" (click)="deleteAppointment(row.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
  
                    </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              
              </mat-expansion-panel>
              <!--notes here-->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon Orders
                      color="primary">note</mat-icon>
                    <h6 class="text-18 mb-4">Notes</h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="border-bottom pb-16 mb-16">
                  <span fxFlex></span>
                  <button mat-icon-button color="primary" type="button" (click)="openPopUp1({},true)">
                    <mat-icon>add</mat-icon>
                  </button>
                  </div>
                  <div *ngFor="let contactNote of notes" class="border-bottom pb-16 mb-16">
                    <div fxLyout="row wrap" class="text-blue font-weight-bold">   
                      <span>{{contactNote.subject}}</span>
                      <span fxFlex></span>  
                      <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp1(contactNote)">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button mat-sm-button color="warn" (click)="deleteNote(contactNote.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                    <div fxLyout="row wrap" class="text-muted">
                      <small>{{contactNote.note}}</small>
                    </div>
                  </div>   
              </mat-expansion-panel>
            </mat-accordion>
    <!--</mat-card-content>-->

