/* Définir une classe CSS personnalisée pour la police */
/*.custom-font {
    font-family: 'Forte', sans-serif;
  }*/
  
  /* Vous pouvez également ajuster la taille de police, le style, etc. */
  .custom-font {
    font-family: 'Forte', sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
  