<div class="m-4" [@animate]="{value:'*',params:{y:'50px',delay:'200ms'}}">


  <button mat-raised-button class="mb-2" style="float: right ;"  color="primary" (click)="openPopUp({}, true )">{{"ADD" | translate }}
    Customer-User</button>

  <mat-form-field  >
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
    </mat-form-field> 
 
</div>
<mat-card  style="border: 5px; "  [@animate]="{value:'*',params:{y:'15px',delay:'500ms'}}">
  <mat-card-content class="p-0">
    <mat-table [dataSource]="dataSource" matSort  >

      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Image </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Image"> 
          <img [src]="getImageUrl(row.id)" alt="Profile Image" width="70px"> 
        </mat-cell>
      </ng-container>>
      


      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header> username </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="username"> {{row.username}} </mat-cell>
      </ng-container>


      

      <ng-container matColumnDef="fullName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> fullName </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="fullName"> {{row.fullname}} </mat-cell>
      </ng-container>

      
  


      <ng-container matColumnDef="roles">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Roles </mat-header-cell>
        <mat-cell *matCellDef="let item" data-label="Roles">
          <ng-container *ngFor="let role of item.roles">
            <ng-container *ngIf="role.name === 'ROLE_CUSTOMER_USER'; else otherRole">
              CustomerUser<br>
            </ng-container>
            <ng-template #otherRole>
              {{role.name}}<br>
            </ng-template>
          </ng-container>
        </mat-cell>
      </ng-container>
      


      

      <ng-container matColumnDef="confirme">
        <mat-header-cell *matHeaderCellDef mat-sort-header> confirme </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="confirme"> {{row.confirme}} </mat-cell>
      </ng-container>

      
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
        <mat-cell *matCellDef="let row">
          
  
          <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openrole(row)">
            <mat-icon>admin_panel_settings</mat-icon>
          </button>

          <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

  </mat-card-content>
</mat-card>