<mat-toolbar matDialogTitle class="mat-primary m-0">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">{{data.title}}</span>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</mat-toolbar>
  <form [formGroup]="itemForm" (ngSubmit)="submit()" >
    <div fxLayout="row wrap" fxLayout.lt-sm="column" style="padding-top:50px ;">

    <div fxFlex="50"  class="pr-16">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Civilité</mat-label>
          <mat-select  [formControlName]="'civility'">
            <mat-option *ngFor="let x of Civility" [value]="x">{{ CivilityMap[x] }}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nom</mat-label>
        <input
        matInput
        name="firstName"
        [formControlName]="'firstName'"
        placeholder="Nom">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Prénom</mat-label>
        <input
        matInput
        name="lastName"
        type="text"
        [formControlName]="'lastName'"
        placeholder="Prénom">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Classification</mat-label>
        <mat-select  [formControlName]="'privilege'">
          <mat-option *ngFor="let x of Privilege" [value]="x">{{PrivilegeMap[x]}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  <div fxFlex="50"  class="pr-16">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Service</mat-label>
      <input
      matInput
      name="service"
      type="text"
      [formControlName]="'service'"
      placeholder="Service">
    </mat-form-field>
  </div>
  
    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Fonction</mat-label>
        <input
        matInput
        name="function"
        [formControlName]="'function'"
        placeholder="Fonction">
      </mat-form-field>
    </div>

    <div fxFlex="50"  class="pr-16">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input
        matInput
        name="email"
        type="email"
        [formControlName]="'email'"
        placeholder="Email">
      </mat-form-field>
    </div>



      <div fxFlex="50"  class="pr-16">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>N° téléphone mobile</mat-label>
            <input matInput formControlName="mobilePhoneNumber" placeholder="+1 1234567890">
            <mat-error *ngIf="itemForm.get('mobilePhoneNumber').invalid && itemForm.get('mobilePhoneNumber').touched">
              <div *ngIf="itemForm.get('mobilePhoneNumber').errors.required">Phone number is required</div>
              <div *ngIf="itemForm.get('mobilePhoneNumber').errors.pattern">Invalid phone number format</div>
            </mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-16">
          <mat-form-field class="full-width" appearance="outline">
              <mat-label>N° téléphone fixe</mat-label>
              <input matInput formControlName="phoneNumber" placeholder="+1 1234567890">
              <mat-error *ngIf="itemForm.get('phoneNumber').invalid && itemForm.get('phoneNumber').touched">
                <div *ngIf="itemForm.get('phoneNumber').errors.required">Phone number is required</div>
                <div *ngIf="itemForm.get('phoneNumber').errors.pattern">Invalid phone number format</div>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="mini-container" >
            <mat-form-field [style.width.cm]=22.2 class="example-full-width" appearance="outline">
              <mat-label>Commentaire</mat-label>
              <textarea matInput placeholder="Saisissez un commentaire si nécessaire."
              [formControl]="itemForm.controls['comment']"></textarea>
            </mat-form-field>
          </div>

  <div fxFlex="100" class="mt-16">
      <button mat-raised-button color="primary" >{{"Enregistrer" | translate }}</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Annuler</button>
    </div>
  </div>
  </form>

