<div class="m-12" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
<!--  <div class="info-card primary">
    <div class="description">Here you can put your alerts!!!</div>
  </div>-->
  <mat-card class="p-0" [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }">
    <div fxLayout="row wrap">
      <div fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="50" >
        <div class="text-center pt-16 pb-16 border-right-light">
          <mat-icon class="text-black">pending</mat-icon>
          <h4 class="m-0">{{pendingCount}}</h4>
          <small class="m-0">Contrats en cours </small>
        </div>
      </div>
      <div fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="50" >
        <div class="text-center pt-16 pb-16 border-right-light">
          <mat-icon class="text-blue">send</mat-icon>
          <h4 class="m-0">{{sentCount}}</h4>
          <small class="m-0">Contrats Envoyés</small>
        </div>
      </div>
      <div fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="50" >
        <div class="text-center pt-16 pb-16 border-right-light">
          <mat-icon class="text-red">highlight_off</mat-icon>
          <h4 class="m-0">{{refusedCount}}</h4>
          <small class="m-0">Contrats Refusés</small>
        </div>
      </div>
      <div fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="50" >
        <div class="text-center pt-16 pb-16 border-right-light">
          <mat-icon class="text-green">done_all</mat-icon>
          <h4 class="m-0">{{ acceptedCount }}</h4>
          <small class="m-0">Contrats Acceptés</small>
        </div>
      </div>
      <div fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="50" >
        <div class="text-center pt-16 pb-16 border-right-light">
          <mat-icon class="text-purple">schedule</mat-icon>
          <h4 class="m-0">{{ expiredCount }}</h4>
          <small class="m-0">Contrats Expirés</small>
        </div>
      </div>
    </div>
  </mat-card>
  
  <mat-form-field style="padding-left: 19px;">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput (keyup)="applyFilter($event)" placeholder="Rechercher">
  </mat-form-field>
   

    
   <button mat-raised-button class="mb-8" style="float: right;" color="primary" routerLink="/Add-contract-employee/add-employee-contract">{{"Nouveau" | translate }}
    Contract</button>
   <div style="clear: both;"></div>
      
   
   
   <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
     <mat-card-content class="p-0">
       <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="reference">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div style="display: flex; flex-direction: column; margin-top: 12px;" >
              <span>Référence</span>
              <mat-form-field style="width:3cm; text-align: center;" >
                <input matInput (input)="applyFilterr($event, 'reference')" placeholder="Filtrer">
              </mat-form-field>
            </div>
          </mat-header-cell>
           <mat-cell *matCellDef="let row" data-label="reference"> {{row.reference}} </mat-cell>
         </ng-container>
         <ng-container matColumnDef="contractTitle">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div style="display: flex; flex-direction: column; margin-top: 12px;" >
              <span>Titre</span>
              <mat-form-field style="width:3cm; text-align: center;" >
                <input matInput (input)="applyFilterr($event, 'contractTitle')" placeholder="Filtrer">
              </mat-form-field>
            </div>
          </mat-header-cell>
           <mat-cell *matCellDef="let row" data-label="contractTitle"> {{ContractTitleMap[row.contractTitle]}} </mat-cell>
         </ng-container>
   
         <ng-container matColumnDef="contractDate">
           <mat-header-cell *matHeaderCellDef mat-sort-header> 
            <div style="display: flex; flex-direction: column; margin-top: 12px;" >
              <span>Date du contrat</span>
              <mat-form-field style="width:3cm; text-align: center;" >
                <input matInput (input)="applyFilterr($event, 'contractDate')" placeholder="Filtrer">
             </mat-form-field>
             </div>
           </mat-header-cell>
           <mat-cell *matCellDef="let row" data-label="contractDate"> {{row.contractDate| date:'dd-MM-yyyy'}}</mat-cell>
         </ng-container>
   
         <ng-container matColumnDef="validityDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header > 
           <div style="display: flex; flex-direction: column; margin-top: 12px;" >
             <span>Date de validité</span>
             <mat-form-field style="width:3cm; text-align: center;" >
               <input matInput (input)="applyFilterr($event, 'validityDate')" placeholder="Filtrer">
            </mat-form-field>
            </div> </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="validityDate"> {{row.validityDate| date:'dd-MM-yyyy'}} </mat-cell>
        </ng-container>

         <ng-container matColumnDef="contractStatus">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 
            <div style="display: flex; flex-direction: column; margin-top: 12px;" >
              <span>Statut</span>
              <mat-form-field style="width:3cm; text-align: center;" >
                <input matInput (input)="applyFilterr($event, 'contractStatus')" placeholder="Filtrer">
             </mat-form-field>
             </div>  </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-chip mat-sm-
            [ngStyle]="{'background-color': getStatusColor(row).bgColor, 'color':getStatusColor(row).ftColor }">

              {{getStatusColor(row).displayText  }}
            </mat-chip>
          </mat-cell>
        </ng-container>
   
         <ng-container matColumnDef="actions">
           <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
           <mat-cell *matCellDef="let row">
             <ng-content select="selector"></ng-content>
             <button matTooltip="Modifier le contrat"  mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="redirectToUpdateEmployeeContract(row)" *ngIf="row.contractStatus === 'STILL_PENDING' || row.contractStatus === 'SENT' || row.contractStatus==='EXPIRED'"   >
               <mat-icon>edit</mat-icon>
             </button>
             <button matTooltip="Voir les détails du contrat"
             mat-icon-button 
             routerLink="/contractEmployee/{{ row.id }}"
             routerLinkActive="router-link-active"
             color="basic" 
           >
             <mat-icon>visibility</mat-icon>
           </button>

            
             <button   matTooltip="Supprimer le contrat" mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)">
               <mat-icon>delete</mat-icon>
             </button>
            
             <button  matTooltip="Changer le statut du contrat" 
             class="card-control"
             mat-icon-button
             *ngIf="row.contractStatus === 'STILL_PENDING'|| row.contractStatus === 'SENT' || row.contractStatus === 'EXPIRED'"
             [matMenuTriggerFor]="menu2">
                  <mat-icon class="text-muted text-18">more_vert</mat-icon>
                </button>
                <mat-menu #menu2="matMenu">
                  <button mat-menu-item (click)="changeContractStatus('ContractStatus.SENT', row.id)">
                    <mat-icon>send</mat-icon>
                    <span>Envoyé</span>
                  </button>
                  <button mat-menu-item (click)="changeContractStatus('ContractStatus.ACCEPTED', row.id)">
                    <mat-icon>check_circle</mat-icon>
                    <span>Accepté</span>
                  </button>
                  <button mat-menu-item (click)="changeContractStatus('ContractStatus.REFUSED', row.id)">
                    <mat-icon>cancel</mat-icon>
                    <span>Refusé</span>
                  </button>
                  <button mat-menu-item (click)="changeContractStatus('ContractStatus.EXPIRED', row.id)">
                    <mat-icon>schedule</mat-icon>
                    <span>Expiré</span>
                  </button>
                </mat-menu>
           
              <mat-divider></mat-divider>
         
           </mat-cell>
         </ng-container>
   
         <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
         <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
       </mat-table>
       <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
   
     </mat-card-content>
   </mat-card>
   </div>
  

